# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local
.env.*.local

# Data files
*.json
*.csv
*.sqlite3


# Logs
logs/
*.log

# Dependencies
venv/
env/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
